[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
sqlalchemy-utils = "*"
mysqlclient = "*"
webargs = "*"


[dev-packages]
factory-boy = "*"
pytest = "*"
pytest-flask = "*"
pytest-env = "*"

[requires]
python_version = "3.6"
