<div *ngIf="post">
  <div class="d-flex justify-content-end" *ngIf="isOwner">
    <a routerLink="/posts/{{ post.id }}/update" class="btn btn-success">수정하기</a>
    <a routerLink="/" class="btn btn-danger">삭제하기</a>
  </div>

  <div class="text-center">
    <hr>
    <h1>{{post.title}}</h1>
    <hr>
    <div class="d-flex justify-content-between">
      <p><b>작성자:</b> {{post.user.email}}</p>
      <p>
        <b>작성일:</b> {{post.created_at | date:'yyyy년 MM월 dd일 HH시 mm분 ss초'}}<br>
        <b>조회수:</b> {{post.read_count}}
      </p>
    </div>
    <hr>
    <pre>{{post.content}}</pre>
    <hr>
  </div>

  <div class="d-flex justify-content-center">
    <app-post-like (likePost)="likePost($event)" [isLiked]="isLiked" [likeCount]="post.like_count"></app-post-like>
  </div>

  <app-comment [postId]="post.id"></app-comment>

</div>

