<div *ngIf="post">
  <div class="d-flex justify-content-end" *ngIf="isOwner">
    <a routerLink="/posts/{{ post.id }}/update" class="btn btn-success">수정하기</a>
    <a routerLink="/" class="btn btn-danger">삭제하기</a>
  </div>

  <div class="title-area text-center">
    <h1>{{post.title}}</h1>
    <div class="d-flex justify-content-between">
      <p><b>작성자:</b> {{user.email}}</p>
      <p>{{post.created_at | date:'yyyy년 MM월 dd일 HH시 mm분 ss초'}}</p>
    </div>
    <hr>
    <p>{{post.content}}</p>
    <hr>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Comments</th>
        <th scope="col">Created</th>
      </tr>
    </thead>

    <tbody *ngIf="comments.length == 0" >
      <tr class="text-center">
          <td colspan="3">
            등록된 댓글이 없습니다.
          </td>
      </tr>
    </tbody>

    <tbody *ngIf="comments">
      <tr *ngFor="let comment of comments; index as i;">
        <th scope="row">{{i+1}}</th>
        <td>
          <small>{{comment.content}}</small>
        </td>
        <td>{{comment.created_at | date:'yyyy년 MM월 dd일 HH시 mm분 ss초'}}</td>
      </tr>
    </tbody>
  </table>
</div>
