body {
  font-size: .875rem;
}
/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}


.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
span.field-required {
  color: orangered;
}
