<div class="offset-md-2 col-md-8" xmlns="http://www.w3.org/1999/html">
  <div class="text-center">
    <h1>게시판 만들기</h1>
  </div>
  <form [formGroup]="makeForm" (submit)="onSubmit()">
    <div class="form-group">
      <label for="_title">게시판의 <b>제목</b>은 무엇인가요?</label>
      <input type="text" class="form-control" id="_title" placeholder="제목을 입력해주세요" formControlName="title" autocomplete="off">
      <div *ngIf="makeForm.controls['title'].invalid && (makeForm.controls['title'].dirty || makeForm.controls['title'].touched)">
        <div *ngIf="makeForm.controls['title'].errors.required">
          <span class="field-validation-error"> 제목을 입력해주세요. </span>
        </div>
        <div *ngIf="makeForm.controls['title'].errors.minlength">
          <span class="field-validation-error"> 제목은 4글자 이상 입력해주세요. </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="_description"><b>어떤</b> 게시판인가요?</label>
      <textarea class="form-control" id="_description" rows="3" placeholder="게시판의 설명을 적어주세요" formControlName="description" autocomplete="off"></textarea>
    </div>

    <button class="btn btn-info btn-block" type="submit" [disabled]="makeForm.pristine || makeForm.invalid">생성하기</button>
  </form>
</div>
