<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="d-flex justify-content-center">
    <a class="btn btn-primary" routerLink="/boards/create" *ngIf="isLoggedIn">Board 생성하기</a>
  </div>
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let board of boardList">
        <div class="nav-link" [class.active]="board === selectedBoard">
          <a (click)="onSelected(board)" routerLink="/boards/{{board.id}}/posts">{{board.title}}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
