<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let board of boardlist">
        <a class="nav-link active" href="#">
          <span data-feather="home"></span>
          {{board.title}}
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>

    <p *ngIf="pagination!=undefined">
      pages : {{pagination.page +'/'+ pagination.pages }}

      <button (click)="getBoardList(pagination.per_page, pagination.page-1)">Prev</button>
      <button (click)="getBoardList(pagination.per_page, pagination.page+1)">Next</button>
    </p>


  </div>
</nav>
